## Read data from Steven Akin's OpenCTD instruments

Steven built two OpenCTDs in the summer of 2021.  He came to WHOI to test them against Seabird 37 CTDs (a trusted oceanographic research quality CTD).  This is to read and plot some of the data.

First read in the SBE37 data from the cal bath.  The fields are as follows:
```
# name 0 = timeJ: Julian Days
# name 1 = tv290C: Temperature [ITS-90, deg C]
# name 2 = cond0S/m: Conductivity [S/m]
# name 3 = sal00: Salinity, Practical [PSU]
# name 4 = prdM: Pressure, Strain Gauge [db]
# name 5 = flag:  0.000e+00
# span 0 = 225.725706, 225.877905                 
# span 1 =     0.1177,    30.2064                 
# span 2 =  -0.000194,   0.013056                 
# span 3 =     0.0000,     0.0608                 
# span 4 =     -0.120,      0.467                 
# span 5 = 0.0000e+00, 0.0000e+00                 
# interval = seconds: 10
# start_time = Aug 13 2021 17:25:01 [Instrument's time stamp, first data scan]
```

Lines 1-283 of the CNV file are header lines.

The file is here:
"..\data\raw\cal_bath\SBE37SM-RS232_03715360_2021_08_13.cnv"

In [1]:
import numpy as np
import matplotlib as mplt
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# fname=r'C:\Users\jtomf\Desktop\access_to_the_sea\info\for_students\Steven_Akin\data\cal_bath\SBE37SM-RS232_03715360_2021_08_13.cnv'
fname=r'..\data\raw\cal_bath\SBE37SM-RS232_03715360_2021_08_13.cnv'

In [3]:

data  = np.genfromtxt(fname, skip_header=285)

In [4]:
np.shape(data)

(1314, 6)

In [5]:
t_JD = data[:,0]
tv290C =  data[:,1]
cond = data[:,2]
sal = data[:,3]
press = data[:,4]

In [6]:
fig, axs = plt.subplots(3, 1, sharex=True)
axs[0].plot(t_JD, tv290C, lw=2)
axs[0].set(ylabel='[$^\circ$C]')
axs[0].legend(['T'])
axs[1].plot(t_JD, cond, lw=2)
axs[1].set(ylabel='[cond]')
axs[1].legend(['cond'])
axs[2].plot(t_JD, press, lw=2)
axs[2].set(ylabel='pressure')
axs[2].legend(['pressure'])

In [29]:
fname=r'..\data\raw\cal_bath\SBE37SM-RS232_03715360_2021_08_13.cnv'
names=['t', 'T', 'cond', 'S', 'P', 'flag']
ds1=pd.read_table(fname, skiprows=285, names=names, delim_whitespace=True)

In [30]:
ds1

               t        T      cond    S      P  flag
0     225.725937  22.1294 -0.000171  0.0 -0.071   0.0
1     225.726053  22.1388 -0.000174  0.0 -0.069   0.0
2     225.726169  22.1467 -0.000174  0.0 -0.070   0.0
3     225.726285  22.1543 -0.000174  0.0 -0.071   0.0
4     225.726400  22.1694 -0.000174  0.0 -0.070   0.0
...          ...      ...       ...  ...    ...   ...
1309  225.877442  23.2976 -0.000191  0.0 -0.065   0.0
1310  225.877558  23.1876 -0.000191  0.0 -0.068   0.0
1311  225.877674  22.9971 -0.000191  0.0 -0.072   0.0
1312  225.877789  23.0168 -0.000191  0.0 -0.077   0.0
1313  225.877905  23.1398 -0.000194  0.0 -0.079   0.0

[1314 rows x 6 columns]

1st 2 lines of OpenCTD data file:

Date, Time,Pressure,Temp A,Temp B,Temp C,Conductivity

08/13/2021,12:32:04,1007.30,23.19,23.44,23.19,

In [ ]:

fname=r'..\data\raw\cal_bath\LOG001.CSV'
ds2=pd.read_csv(fname) #,skip_header=1, delimiter=',')

In [ ]:
ds.columns

In [ ]:
fig = plt.figure()
ax2 = plt.axes()  
ds.plot('Date Time','Temp A')

# plt.plot(ds['Date Time'], ds['Temp A'], lw=2)

'''
axs[0].set(ylabel='[$^\circ$C]')
axs[0].legend(['T'])
axs[1].plot(t_JD, cond, lw=2)
axs[1].set(ylabel='[cond]')
axs[1].legend(['cond'])
axs[2].plot(t_JD, press, lw=2)
axs[2].set(ylabel='pressure')
axs[2].legend(['pressure'])
'''